<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="/static/css/bulma/bulma.min.css">
<link rel="stylesheet" href="/static/css/bulma/bulma-docs.min.css">
<link rel="stylesheet" href="/static/css/styles.css">

<script src="/static/js/bulma/clipboard-1.7.1.min.js"></script>
<script src="/static/js/bulma/js.cookie-2.1.4.min.js"></script>
<script src="/static/js/bulma/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mithril/mithril.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/client.js"></script>
<script src="/static/js/service.js"></script>
<script src="/static/js/components.js"></script>
