<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/deps.html' %}

    <title>Authority | Create Book!</title>
    <script src="/static/js/create-book.js"></script>
  </head>
  <body>
    <div id="message_box"></div>
    {% include 'fragments/navbar.html' %}
    
    <main class="container-1 middlr">
      <div class="columns">
        <div class="column">
          <div class="card middlr">
            <div class="card-content">
              <h1 class="text-center">Create Book</h1>
              <br />

              <form id="create-form">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Title</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" name="title" placeholder="Enter title..." required />
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Summary</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <textarea name="summary" class="textarea" placeholder="Enter book summary..."></textarea>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Tags</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <textarea name="tags" class="textarea" placeholder="Enter tags, separated by commas..."></textarea>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Visibility</label>
                  </div>
                  <div class="field-body">
                    <div class="control">
                      <label class="radio">
                        <input id="public-radio" type="radio" name="visibility" value="public" />
                        Public
                      </label>
                      <label class="radio">
                        <input id="private-radio" type="radio" name="visibility" value="private" />
                        Private
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Explicit?</label>
                  </div>
                  <div class="field-body">
                    <div class="control">
                      <label class="radio">
                        <input id="public-radio" type="radio" name="explicit" value="yes" />
                        Yes
                      </label>
                      <label class="radio">
                        <input id="private-radio" type="radio" name="explicit" value="no" />
                        No
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Cover Image</label>
                  </div>
                  <div class="field-body">
                    <div class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="book-icon-cover">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span id="book-cover-filename" class="file-name"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Back Image</label>
                  </div>
                  <div class="field-body">
                    <div class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="book-icon-back">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span id="book-back-filename" class="file-name"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <button type="submit" class="button is-success">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>