<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/deps.html' %}

    <title>Authority | Settings</title>
    <script src="/static/js/settings-page.js"></script>
  </head>
  <body>
    <div id="message_box"></div>
    {% include 'fragments/navbar.html' %}
    
    <main class="container-1 middlr">
      <div class="columns">
        <div id="user-main-box" class="column is-one-third"></div>

        <div id="user-info-box" class="column">
          <div class="card middlr">
            <div class="card-content">
              <h1 class="text-center">Update Account Form</h1>
              <br />

              <form id="update-account-form">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Displayname</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" name="displayname" placeholder="Enter displayname..." required />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Username</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" name="username" placeholder="Enter username..." required />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Email</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="email" name="email" placeholder="Enter email..." required />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Website</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" name="weblink" placeholder="Enter website..." />
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Bio</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <textarea name="bio" class="textarea" placeholder="Enter bio..."></textarea>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Visibility</label>
                  </div>
                  <div class="field-body">
                    <div class="control">
                      <label class="radio">
                        <input id="public-radio" type="radio" name="visibility" value="public" />
                        Public
                      </label>
                      <label class="radio">
                        <input id="private-radio" type="radio" name="visibility" value="private" />
                        Private
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Icon</label>
                  </div>
                  <div class="field-body">
                    <div class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="profile-icon">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span id="icon-filename" class="file-name"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Wallpaper</label>
                  </div>
                  <div class="field-body">
                    <div class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="profile-wallpaper">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span id="wallpaper-filename" class="file-name"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Old Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="password" name="old_password" placeholder="Enter old password..." />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="password" name="password" placeholder="Enter new password..." />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Confirm Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="password" name="password_confirm" placeholder="Enter new password confirmation..." />
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label"></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <button type="submit" class="button is-success">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>